.territory {
    padding: 50px 0;
    &__item {
        padding: 0 150px;
    }
    &__descr {
        padding: 5px 0;
    }
    &__btns {
        margin-top: 10px;
        width: 380px;
        display: flex;
        justify-content: space-between;
        &-add {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
            background-color: rgb(21, 255, 0);
            color: rgb(0, 0, 0);
            font-size: 0.95rem;
            &:hover {
                background-color: rgb(42, 220, 26);
            }
        }
        &-delete {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
            background-color: rgb(255, 0, 0);
            color: rgb(0, 0, 0);
            font-size: 0.95rem;
            &:hover {
                background-color: rgb(228, 18, 18);
            }
        }
    }
}