.TaskComplete {
    padding: 10px;
    background-color: rgb(115, 255, 0);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    box-shadow: 2px 2px black;

    &:hover {
        background-color: rgb(97, 216, 0);
        box-shadow: none;
    }
}