.TerritoryDelete {
    &__delete {
        padding: 15px 25px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background: linear-gradient(rgb(255, 0, 0) 0%, rgb(208, 0, 0) 100%);
        color: white;
        font-size: 1rem;
        box-shadow: 4px 2px black;
        &:hover {
            background: linear-gradient(rgb(220, 0, 0) 0%, rgb(174, 0, 0) 100%);
            box-shadow: 2px 1px black;
        }
    }
}