.form {
    &__label {
        display: block;
        margin: 20px 0 5px 0;
    }
    &__input {
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
    }
    &__error {
        color: red;
        position: relative;
        height: 0;
    }
}