.RecoverFromHistory {
    padding: 5px 15px;
    width: 48%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(rgb(0, 255, 51) 0%, rgb(69, 208, 0) 100%);
    color: white;
    font-size: 1rem;
    box-shadow: 4px 2px black;
    &:hover {
        background: linear-gradient(rgb(0, 223, 45) 0%, rgb(58, 172, 0) 100%);
        box-shadow: 2px 1px black;
    }
}